body {
  font-family: SerifFont, serif;
  margin: auto;
  max-width: 600px;
  padding: 18px;
  
}

nav {
  text-align: right;
}

.thai {
  font-family: "Pridi", serif;
  font-weight: 200;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

a:link {
  color: salmon;
}

a:hover {
  color: crimson;
}

a:visited {
  color:crimson;
}

ul.no-bullets {
    list-style-type: none;
  }

@font-face {
  font-family: SerifFont;
  src: url(GFSHeraklit.otf);
}