body {
  font-family: serif;
  margin: auto;
  max-width: 600px;
  padding: 18px;
  
}

nav {
  text-align: right;
}

.thai {
  font-family: "Pridi", serif;
  font-weight: 200;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

a:link {
  color: salmon;
}

a:hover {
  color: crimson;
}

a:visited {
  color:salmon;
}